*{
    margin: 0;
    border: 0;
    margin: 40px;
    font-family: monospace;
}

body{
    background:#845EC2;
    color:rgb(48, 7, 7);
}

.talk{
    padding: 30px;
  
border-color: teal;
border-radius: 100%;
background: yellowgreen;
margin-left: 40%;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button:hover{
   cursor: pointer;
}